
.personneTable {   
   border-collapse:collapse;
   border:1px solid #000000;padding:10px;
}

.personneTableHeader {
   text-align:center;
   background:none repeat scroll 0 0 #B5B5B5;
   border-bottom:1px solid #000000;  
   padding:16px;
}

.personneTableOddRow {
   text-align:center;
   background:none repeat scroll 0 0 #FFFFFFF;	
   border-top:1px solid #BBBBBB;
   
}

.personneTableEvenRow {
   text-align:center;
   background:none repeat scroll 0 0 #D3D3D3;
   border-top:1px solid #BBBBBB;
}